schema/mml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- *************************************************** -->
<!-- MML基本構造 -->
<!-- Medical Markup Language XSD Version 4.0 -->
<!-- *************************************************** -->
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.medxml.net/MML/v4/base/1.0"
  xmlns:mml="http://www.medxml.net/MML/v4/base/1.0"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:mmlAd="http://www.medxml.net/MML/v4/SharedComponent/Address/1.0"
  xmlns:mmlPh="http://www.medxml.net/MML/v4/SharedComponent/Phone/1.0"
  xmlns:mmlCm="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0"
  xmlns:mmlNm="http://www.medxml.net/MML/v4/SharedComponent/Name/1.0"
  xmlns:mmlFc="http://www.medxml.net/MML/v4/SharedComponent/Facility/1.0"
  xmlns:mmlDp="http://www.medxml.net/MML/v4/SharedComponent/Department/1.0"
  xmlns:mmlPsi="http://www.medxml.net/MML/v4/SharedComponent/PersonalizedInfo/1.0"
  xmlns:mmlCi="http://www.medxml.net/MML/v4/SharedComponent/CreatorInfo/1.0"
  xmlns:mmlSc="http://www.medxml.net/MML/v4/SharedComponent/Security/1.0"
  xmlns:mmlPi="http://www.medxml.net/MML/v4/ContentModule/PatientInfo/1.0"
  xmlns:mmlBc="http://www.medxml.net/MML/v4/ContentModule/BaseClinic/1.0"
  xmlns:mmlFcl="http://www.medxml.net/MML/v4/ContentModule/FirstClinic/1.0"
  xmlns:mmlHi="http://www.medxml.net/MML/v4/ContentModule/HealthInsurance/1.1"
  xmlns:mmlLs="http://www.medxml.net/MML/v4/ContentModule/Lifestyle/1.0"
  xmlns:mmlPc="http://www.medxml.net/MML/v4/ContentModule/ProgressCourse/1.0"
  xmlns:mmlRd="http://www.medxml.net/MML/v4/ContentModule/RegisteredDiagnosis/1.0"
  xmlns:mmlSg="http://www.medxml.net/MML/v4/ContentModule/Surgery/1.0"
  xmlns:mmlSm="http://www.medxml.net/MML/v4/ContentModule/Summary/1.0"
  xmlns:mmlLb="http://www.medxml.net/MML/v4/ContentModule/test/1.0"
  xmlns:mmlRp="http://www.medxml.net/MML/v4/ContentModule/report/1.0"
  xmlns:mmlRe="http://www.medxml.net/MML/v4/ContentModule/Referral/1.0"
  xmlns:claim="http://www.medxml.net/claim/claimModule/2.1"
  xmlns:claimA="http://www.medxml.net/claim/claimAmountModule/2.1"
  xmlns:mmlFs="http://www.medxml.net/MML/v4/ContentModule/FlowSheet/1.0"
  xmlns:mmlVs="http://www.medxml.net/MML/v4/ContentModule/VitalSign/1.0"
  xmlns:mmlPs="http://www.medxml.net/MML/v4/ContentModule/Prescription/1.0"
  xmlns:mmlInj="http://www.medxml.net/MML/v4/ContentModule/Injection/1.0"
  xmlns:mmlHd="http://www.medxml.net/MML/v4/ContentModule/Hemodialysis/1.0">
  
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"/>
  <!-- MML base common modules -->
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Address/1.0" schemaLocation="address.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Phone/1.0" schemaLocation="phone.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0" schemaLocation="common.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Name/1.0" schemaLocation="name.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Facility/1.0" schemaLocation="facility.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Department/1.0" schemaLocation="department.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/PersonalizedInfo/1.0" schemaLocation="personalizedinfo.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/CreatorInfo/1.0" schemaLocation="creatorinfo.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Security/1.0" schemaLocation="security.xsd" />
  <!-- MML Modules -->
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/PatientInfo/1.0" schemaLocation="patientinfo.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/BaseClinic/1.0" schemaLocation="baseclinic.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/FirstClinic/1.0" schemaLocation="firstclinic.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/HealthInsurance/1.1" schemaLocation="healthinsurance.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Lifestyle/1.0" schemaLocation="lifestyle.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/ProgressCourse/1.0" schemaLocation="progresscourse.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/RegisteredDiagnosis/1.0" schemaLocation="registereddiagnosis.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Surgery/1.0" schemaLocation="surgery.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Summary/1.0" schemaLocation="summary.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/test/1.0" schemaLocation="testhistory.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/report/1.0" schemaLocation="report.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Referral/1.0" schemaLocation="referral.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/FlowSheet/1.0" schemaLocation="flowsheet.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/VitalSign/1.0" schemaLocation="vitalsign.xsd"/>
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Prescription/1.0" schemaLocation="prescription.xsd"/>
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Injection/1.0" schemaLocation="injection.xsd"/>
  <xs:import namespace="http://www.medxml.net/MML/v4/ContentModule/Hemodialysis/1.0" schemaLocation="hemodialysis.xsd"/>
  <xs:import namespace="http://www.medxml.net/claim/claimModule/2.1" schemaLocation="claim.xsd" />
  <xs:import namespace="http://www.medxml.net/claim/claimAmountModule/2.1" schemaLocation="claimamount.xsd" />
  
  <xs:element name="Mml">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mml:MmlHeader"/>
        <xs:element ref="mml:MmlBody"/>
      </xs:sequence>
      <xs:attributeGroup ref="mml:attlist.Mml"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="MmlHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlCi:CreatorInfo"/>
        <xs:element ref="mml:masterId"/>
        <xs:element ref="mml:toc"/>
        <xs:element ref="mml:scopePeriod" minOccurs="0"/>
        <xs:element ref="mml:encryptInfo" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>    
  </xs:element>
  
  <xs:attributeGroup name="attlist.Mml">
    <xs:attribute name="version" default="4.0" type="xs:string"/>
    <xs:attribute name="createDate" use="required"/>
  </xs:attributeGroup>
  
  <xs:element name="MmlBody">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mml:MmlModuleItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MmlModuleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mml:docInfo"/>
        <xs:element minOccurs="0" ref="mml:content"/>
      </xs:sequence>
      <xs:attributeGroup ref="mml:attlist.MmlModuleItem"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.MmlModuleItem">
    <xs:attribute name="type"/>
  </xs:attributeGroup>

  <xs:element name="docInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlSc:securityLevel"/>
        <xs:element ref="mml:title"/>
        <xs:element ref="mml:docId"/>
        <xs:element ref="mml:confirmDate"/>
        <xs:element ref="mmlCi:CreatorInfo"/>
        <xs:element ref="mml:extRefs" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>  
      <xs:attributeGroup ref="mml:attlist.docInfo"/>
    </xs:complexType>
  </xs:element>
    
  <xs:attributeGroup name="attlist.docInfo">
    <xs:attribute name="contentModuleType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="patientInfo"/>
          <xs:enumeration value="healthInsurance"/>
          <xs:enumeration value="registeredDiagnosis"/>
          <xs:enumeration value="lifestyle"/>
          <xs:enumeration value="baseClinic"/>
          <xs:enumeration value="firstClinic"/>
          <xs:enumeration value="progressCourse"/>
          <xs:enumeration value="surgery"/>
          <xs:enumeration value="summary"/>
          <xs:enumeration value="referral"/>
          <xs:enumeration value="test"/>
          <xs:enumeration value="report"/>
          <xs:enumeration value="flowsheet"/>
          <xs:enumeration value="vitalsign"/>
          <xs:enumeration value="prescription"/>
          <xs:enumeration value="injection"/>
          <xs:enumeration value="hemodialysis"/>
          <xs:enumeration value="claim"/>
          <xs:enumeration value="claimAmount"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="moduleVersion"/>
  </xs:attributeGroup>
  
  <xs:element name="encryptInfo" type="xs:string"/>
  
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mml:attlist.title"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.title">
    <xs:attribute name="generationPurpose"/>
  </xs:attributeGroup>
  
  <xs:element name="docId">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mml:uid"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:parentId"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:groupId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="masterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlCm:Id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mmlPi:PatientModule" minOccurs="0"/>
        <xs:element ref="mmlBc:BaseClinicModule" minOccurs="0"/>
        <xs:element ref="mmlFcl:FirstClinicModule" minOccurs="0"/>
        <xs:element ref="mmlHi:HealthInsuranceModule" minOccurs="0"/>
        <xs:element ref="mmlLs:LifestyleModule" minOccurs="0"/>
        <xs:element ref="mmlPc:ProgressCourseModule" minOccurs="0"/>
        <xs:element ref="mmlRd:RegisteredDiagnosisModule" minOccurs="0"/>
        <xs:element ref="mmlSg:SurgeryModule" minOccurs="0"/>
        <xs:element ref="mmlSm:SummaryModule" minOccurs="0"/>
        <xs:element ref="mmlLb:TestModule" minOccurs="0"/>
        <xs:element ref="mmlRp:ReportModule" minOccurs="0"/>
        <xs:element ref="mmlRe:ReferralModule" minOccurs="0"/>
        <xs:element ref="mmlVs:VitalSignModule" minOccurs="0"/>
        <xs:element ref="mmlFs:FlowSheetModule" minOccurs="0"/>
        <xs:element ref="mmlPs:PrescriptionModule" minOccurs="0"/>
        <xs:element ref="mmlInj:InjectionModule" minOccurs="0"/>
        <xs:element ref="mmlHd:HemoDialysisModule" minOccurs="0"/>
        <xs:element ref="claim:ClaimModule" minOccurs="0"/>
        <xs:element ref="claimA:ClaimAmountModule" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
  
  <xs:element name="toc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mml:tocItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="tocItem" type="xs:string"/>
  
  <xs:element name="extRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlCm:extRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="scopePeriod">
    <xs:complexType>
      <xs:attributeGroup ref="mml:attlist.scopePeriod"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.scopePeriod">
    <xs:attribute name="start"/>
    <xs:attribute name="end"/>
    <xs:attribute name="hasOtherInfo">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="isExtract">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="extractPolicy">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="firstEncounter"/>
          <xs:enumeration value="laboratory"/>
          <xs:enumeration value="prescription"/>
          <xs:enumeration value="summary"/>
          <xs:enumeration value="random"/>
          <xs:enumeration value="nonExtracted"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    
  </xs:attributeGroup>
  
  <xs:element name="uid" type="xs:string"/>
  
  <xs:element name="parentId">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mml:attlist.parentId"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.parentId">
    <xs:attribute name="relation">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="origin"/>
          <xs:enumeration value="oldEdition"/>
          <xs:enumeration value="order"/>
          <xs:enumeration value="consult"/>
          <xs:enumeration value="originalDiagnosis"/>
          <xs:enumeration value="diagnosis"/>
          <xs:enumeration value="surgery"/>
          <xs:enumeration value="patient"/>
          <xs:enumeration value="healthInsurance"/>
          <xs:enumeration value="detail"/>
          <xs:enumeration value="simpleLink"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:element name="groupId">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mml:attlist.groupId"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.groupId">
    <xs:attribute name="groupClass"/>
  </xs:attributeGroup>
  
  <xs:element name="confirmDate">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mml:attlist.confirmDate"/>
    </xs:complexType>
  </xs:element>
  
  <xs:attributeGroup name="attlist.confirmDate">
    <xs:attribute name="start"/>
    <xs:attribute name="end"/>
    <xs:attribute name="firstConfirmDate"/>
    <xs:attribute name="eventDate"/>
  </xs:attributeGroup>
  
</xs:schema>
