schema/testhistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- *************************************************** -->
<!-- 検歴情報 -->
<!-- TestModule XSD Version 4.1 -->
<!-- *************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.medxml.net/MML/v4/ContentModule/test/1.0" 
  xmlns:mmlLb="http://www.medxml.net/MML/v4/ContentModule/test/1.0"
  xmlns:mmlCm="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0">
  
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Common/1.0" schemaLocation="common.xsd" />
  <xs:import namespace="http://www.medxml.net/MML/v4/SharedComponent/Name/1.0" schemaLocation="name.xsd" />
  
  <xs:element name="TestModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:information"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlLb:laboTest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="information">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:reportStatus"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:set"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:facility"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:department"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:ward"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:client"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:laboratoryCenter"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:technician"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlLb:repMemo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:repMemoF"/>
      </xs:sequence>
      <xs:attribute name="registId" type="xs:string" use="required" form="qualified"/>
      <xs:attribute name="sampleTime" type="xs:dateTime" use="optional" form="qualified"/>
      <xs:attribute name="registTime" type="xs:dateTime" use="required" form="qualified"/>
      <xs:attribute name="reportTime" type="xs:dateTime" use="required" form="qualified"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="reportStatus">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="statusCode" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="statusCodeId" type="xs:string" use="required" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="set">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="setCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="setCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="facility">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="facilityCode" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="facilityCodeId" use="required" form="qualified">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="ca"/>
                <xs:enumeration value="insurance"/>
                <xs:enumeration value="monbusho"/>
                <xs:enumeration value="JMARI"/>
                <xs:enumeration value="OID"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="department">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="depCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="depCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ward">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="wardCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="wardCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="client">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="clientCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="clientCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="laboratoryCenter">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="centerCode" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="centerCodeId" type="xs:string" use="required" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="technician">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="techCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="techCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="repMemo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="repCodeName" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="repCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="repCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="repMemoF" type="xs:string"/>

  <xs:element name="laboTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:specimen"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="mmlLb:item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="specimen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:specimenName"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlLb:spcMemo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:spcMemoF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="specimenName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="spCode" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="spCodeId" type="xs:string" use="required" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="spcMemo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="smCodeName" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="smCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="smCodeId" type="xs:string" use="optional" form="qualified"/>          
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="spcMemoF" type="xs:string"/>
  
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:itemName"/>
        <xs:element minOccurs="1" maxOccurs="1" ref="mmlLb:value"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:numValue"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:unit"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:referenceInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlLb:itemMemo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="mmlLb:itemMemoF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="itemName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="itCode" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="itCodeId" type="xs:string" use="required" form="qualified"/>
          <xs:attribute name="Acode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="Icode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="Scode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="Mcode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="Rcode" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="value" type="xs:string"/>
  
  <xs:element name="numValue" nillable="true">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:decimal">
          <xs:attribute name="up" type="xs:decimal" use="optional" form="qualified"/>
          <xs:attribute name="low" type="xs:decimal" use="optional" form="qualified"/>
          <xs:attribute name="normal" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="out" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="unit">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="uCode" type="xs:string" use="optional" form="qualified"/>
          <xs:attribute name="uCodeId" type="xs:string" use="optional" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="referenceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mmlCm:extRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="itemMemo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="imCodeName" form="qualified"/>
          <xs:attribute name="imCode" form="qualified"/>
          <xs:attribute name="imCodeId" form="qualified"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="itemMemoF" type="xs:string"/>
</xs:schema>
